
<div class="row">
    <div class="col-xs-9">
        <ul class="nav nav-pills" style="padding: 10px;">
          <li data-ng-class="{active:homeTab}"><a href="javascript:void(0)" data-ng-click="showHomeTab()">Home</a></li>
          <li data-ng-class="{active:membersTab}"><a href="javascript:void(0)" data-ng-click="showMemembersTab()">Members</a></li>
          <li data-ng-class="{active:eventsTab}"><a href="javascript:void(0)" data-ng-click="showEventsTab()">Events</a></li>
          <li data-ng-class="{active:sponsorsTab}"><a href="javascript:void(0)" data-ng-click="showSponsorsTab()">Sponsors</a></li>
          <li data-ng-class="{active:photosTab}"><a href="javascript:void(0)" data-ng-click="showPhotosTab()">Photos</a></li>
        </ul>
    </div>
    <div class="col-xs-3">
        <input type="button" 
               data-ng-show="!showJoinBtn"
               data-ng-click="createJoinGroupRequest()"
               value="Join" class="btn btn-danger btn-lg pull-right" style="margin-top: 15px"/>        
    </div>
    
</div>

<div class="row" data-ng-show="homeTab">
    <div class="col-lg-3">
        <uploader image="image" 
                  url="url" 
                  display="isCurrentUserManager" 
                  uploadurl ='uploadUrl'
                  callback ="uploadCompletedCallBack"
                  fromdata="data"
                  datatype="html"></uploader>
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Organizor</div>
                <div class="panel-body">                   
                    <div class="media">
                        <a href="#user/{{groupCreator.id}}" class="pull-left">
                            <img class="media-object" alt="defaultIcona" imageurl userdata="{{groupCreator.profileImage}}"
                                fallbackiconurl="/Content/images/defaultUserIcon100x100.jpg"
                                sizedata="?width=100&height=100">
                        </a>
                      <div class="media-body">
                        <h4 class="media-heading">{{groupCreator.userName}}</h4>
                         {{groupCreator.aboutMe}}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">            
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{group.groupName}}</h3>
                <input value="Edit" type="button" class="btn btn-warning btn-sm pull-right" 
                       data-ng-show="isCurrentUserManager"
                       style="margin-top: -23px;"
                       data-ng-click="editToggle()"/>
            </div>
            <div class="panel-body" data-ng-show="!isEdit">
                <p><b>About this group:</b></p>
                <p>{{group.description}}</p>
                <p>Group created Date: {{group.createdDate | date:'d/M/yy'}}</p>
            </div>
            <div class="panel-body" data-ng-show="isEdit">
                <form class="form-horizontal" name="createGroup" data-ng-submit="saveGroup()">
                    <fieldset>
                        <legend>Edit Group</legend>
                        <div class="form-group">
                            <label for="groupName" class="col-lg-4 control-label">New Group Name</label>
                            <div class="col-lg-8">
                                <input type="text" class="form-control" id="groupName" placeholder="Group Name" required="required"
                                       data-ng-model="newGroupName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="textArea" class="col-lg-4 control-label">New Description</label>
                            <div class="col-lg-8">
                                <textarea class="form-control" rows="3" id="textArea" required="required" data-ng-model="newDescription"></textarea>
                                <span class="help-block">Write something about your group.</span>
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button class="btn btn-default" data-ng-click="editToggle()" >Cancel</button>
                                <button type="submit" data-ng-disabled="createGroup.$invalid || groupUpdating" class="btn btn-primary">Save</button>
                                <a id="spinner" class="fa fa-spinner fa-spin" data-ng-show="groupUpdating"></a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>                    
        </div>
        <div class="row">
            <div class="col-lg-12">            
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Group Events</h3>
                        <input value="Create" type="button" class="btn btn-warning btn-sm pull-right" 
                           data-ng-show="isCurrentUserManager"
                           style="margin-top: -23px;"
                           data-ng-click="showCreateEvent()"/>
                    </div>
                    <div class="panel-body" data-ng-show="!displayCreateEvent">                        
                        <div data-ng-repeat="event in group.events|futureEventTop:3">
                            <div class="row">                                
                                <div class="col-sm-12" >
                                    <div class="well well-sm">                                                                                
                                        <input type="button" value="I am in!" class="btn btn-danger btn-sm pull-right" data-ng-click="joinEvent(event)"
                                               data-ng-show="!userJoined(event)"/>
                                        <p><a href="#/event/{{event.id}}">{{event.name}}</a>: Created by {{getCreatedBy(event)}}</p>
                                        <p>{{event.description}}</p>
                                        <p>Time: {{event.eventDateTime | date:'medium'}}</p>
                                        <p>Location: {{event.eventLocation }}</p>
                                        <p><b>{{event.users.length}}</b> is going</p>
                                        <div class="row">
                                            <div class="col-sm-2" data-ng-repeat="u in event.users | limitTo:3">                                                
                                                <a href="#user/{{u.id}}" class="pull-left thumbnail">
                                                    <img class="img-responsive" alt="defaultIcona" 
                                                         imageurl 
                                                         fallbackiconurl="/Content/images/defaultUserIcon50x50.jpg"
                                                         userdata="{{u.profileImage}}"
                                                         sizedata="?width=50&height=50">
                                                </a>                                                                                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                           
                        </div>
                    </div>
                    <div class="panel-body" data-ng-show="displayCreateEvent">
                        <form class="form-horizontal" name="createEvent" data-ng-submit="saveNewEvent()" novalidate>
                            <fieldset>
                                <legend>Create Event</legend>
                                <div class="form-group">
                                    <label for="eventName" class="col-lg-4 control-label">New Event Name</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="eventName" placeholder="Event Name" required="required"
                                               data-ng-model="eventName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-4 control-label">New Event Description</label>
                                    <div class="col-lg-8">
                                        <textarea class="form-control" rows="3" id="eventDescription" required="required" data-ng-model="eventDescription"></textarea>
                                        <span class="help-block">Write something about this event.</span>
                                    </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label for="dob" class="col-lg-4 control-label">Event Date Time</label>
                                    <div class="col-lg-8">
                                        <p class="input-group">
                                            <input type="text" id="dob" class="form-control" ng-model="eventDateTime" datetimepicker/>                                           
                                        </p>                                                                                                                                       
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="eventLocation" class="col-lg-4 control-label">Location</label>
                                    <div class="col-lg-8">
                                        <input type="text" class="form-control" id="eventLocation" placeholder="Event Location" required="required"
                                               data-ng-model="eventLocation">
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-default" data-ng-click="hideCreateEvent()">Cancel</button>
                                        <button type="submit" data-ng-disabled="createEvent.$invalid || groupUpdating" class="btn btn-primary">Create</button>
                                        <a id="A1" class="fa fa-spinner fa-spin" data-ng-show="groupUpdating"></a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>                
                </div>
            </div>                              
        </div>
        <div class="row" data-ng-show="showChat">
            <div class="col-lg-12">            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Group Chat</h3>
                    </div>
                    <div class="panel-body" style="height: 200px;">
                        <div class="pre-scrollable" style="height: 130px;" id="messageChanel">
                            <div data-ng-repeat="msg in messages">
                                {{msg.message}}
                            </div>
                        </div>
                        <div style="margin-top: 10px;">
                            <input 
                                data-ng-Enterkey="sendMessage()"
                                data-ng-model="groupMessageContent" 
                                class="form-control input-sm pull-left"  
                                style="width: 80%" type="text"/>
                            <button class="pull-right btn btn-primary btn-sm" data-ng-click="sendMessage()">Send</button>
                        </div>
                    </div>                
                </div>
            </div>                              
        </div>
    </div>                      
    <div class="col-lg-3">            
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{group.users.length}} members</h3>
            </div>
            <div class="panel-body" style="min-height: 400px;">
                <div data-ng-repeat="user in group.users">
                    <div class="row p5">
                        <div class="btn-group pull-right">
                            <button type="button" 
                                    data-ng-show="isCurrentUserManager"
                                    class="btn btn-warning dropdown-toggle btn-sm" data-toggle="dropdown">
                            Actions <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="javascript:void(0)" data-ng-click="removeUserFromGroup(user)">Remove from Group</a></li>
                              <li><a href="javascript:void(0)" data-ng-show="!isUserGroupManager(user)" data-ng-click="giveManangerRole(user)">Give Organizor Role</a></li>
                              <li><a href="javascript:void(0)" data-ng-show="isUserGroupManager(user)" data-ng-click="removeManangerRole(user)">Remove Organizor Role</a></li>
                          </ul>
                        </div>
                        <div class="media">
                            <a href="#user/{{user.id}}"  class="pull-left thumbnail">
                                <img class="media-object" alt="defaultIcona" 
                                     imageurl 
                                     fallbackiconurl="/Content/images/defaultUserIcon50x50.jpg"
                                     userdata="{{user.profileImage}}"
                                     sizedata="?width=50&height=50">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">{{user.userName}}</h4>
                                {{user.aboutMe}}
                            </div>

                        </div>
                                                  
                    </div>
                                                                
                </div>
            </div>                
        </div>                                                    
    </div>
        
</div>

<div class="row" data-ng-show="membersTab">
    <div data-ng-include="'AppScripts/Templates/membersTab.html'" 
         data-ng-controller="MembersCtrl"></div>
</div>
<div class="row" data-ng-show="eventsTab">
        <div data-ng-include="'AppScripts/Templates/eventsTab.html'" 
         data-ng-controller="EventsCtrl"></div>
</div>
<div class="row" data-ng-show="sponsorsTab">
    <h3 class="pull-left">Sponsors</h3>
    <button type="button" style="margin-top: 10px;" class="btn btn-danger pull-right" data-ng-show="isCurrentUserManager" data-ng-click="createSponsor()">Create New Sponsor</button>
    <div class="clearfix"></div>
    <div class="row" data-ng-show="sponsors.length != 0">                                      
        <div class="col-sm-6 col-md-3" data-ng-repeat="sponsor in sponsors">
            <div class="thumbnail">
                <img data-src="holder.js/300x200" alt="300x200" imageurl 
                     userdata="{{sponsor.photoUrl}}" 
                     fallbackiconurl="/Content/images/defaultgroup.png"
                     style="width: 300px; height: 200px;">
         
                <div class="caption">
                    <h3>{{sponsor.name}}</h3>
                    <a href="#/sponsor/{{sponsor.id}}" class="btn btn-danger" data-ng-show="isCurrentUserManager">Edit</a>
                    <button type="button" class="btn btn-danger" data-ng-show="isCurrentUserManager" data-ng-click="removeSponsor(sponsor)">Remove</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" data-ng-show="photosTab">
        <div data-ng-include="'AppScripts/Templates/groupPhotoTab.htm'" 
         data-ng-controller="groupPhotoCtrl"></div>
</div>

    
