<div>    
    <div class="jumbotron" style="margin-top: 10px;">
      <h1>Welcome</h1>
      <p>This will be the place you find all the joy.</p>
      <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
    <div class="row">
        <div class="col-md-3" data-ng-repeat="group in groups">                        
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{group.groupName}}</h3>
              </div>
              <div class="panel-body" style="height: 150px;">
                  <p>{{group.description}}</p>
                  <p>Group created Date: {{group.createdDate | date:'d/M/yy'}}</p>
                  <p>{{group.users.length}} members</p>                                    
              </div>
            </div>
        </div>
    </div>
</div>
