<div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Join Me</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">                
                <li title="My Account">
                    <a href="#/myAccount"><i class="fa fa-user fa-lg"></i> {{user.username}}</a>
                </li>                
                <li title="messages"><a href="#/myNotificationMessages"><i class="fa fa-envelope fa-lg"></i> <span class="badge">{{user.messages.length + user.personalMessages.length}}</span></a></li>
                <li title="Log out"><a href="javascript:void(0)" data-ng-click="logout()"><i class="fa fa-sign-out fa-lg"></i >Logout</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" id="themes"> More <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="../default/">Default</a></li>
                        <li class="divider"></li>
                        
                        <li><a href="javascript:void(0)"
                               data-ng-click="logout()">Logout</a></li>
                    </ul>
                </li>
            </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">What is on Now?</a></li>
            <li><a href="#/createGroup">Start your Circle</a></li>
          </ul>

        </div>
      </div>