<h3>My Account</h3>
<div class="row">    
    <div class="col-sm-3">
        <div class="list-group">
            <a href="javascript:void(0)"  
               class="list-group-item"
               data-ng-class="{active: mygroups}"
               data-ng-click="showMyGroups()" >
                My groups
            </a>
            <a href="javascript:void(0)" 
               class="list-group-item"
               data-ng-class="{active: changePassword}" 
               data-ng-click="showChangePassword()">
                Change password
            </a>
            <a href="javascript:void(0)" 
               class="list-group-item"
               data-ng-class="{active: editMydetails}"
               data-ng-click="showEditMyDetails()" >
                Edit My details
            </a>
        </div>   
    </div>

    <div class="col-sm-9" data-ng-show="mygroups">               
        <div class="panel panel-primary" data-ng-repeat="group in groups">
            <div class="panel-heading">
                <h3 class="panel-title">{{group.groupName}}</h3>
            </div>
            <div class="panel-body">
                <p>{{group.description}}</p>
                <p>Group created Date: {{group.createdDate | date:'d/M/yy'}}</p>
                <p>{{group.users.length}} members</p>                                    
                <a class="btn btn-default btn-sm" href="#/groupDetails/{{group.id}}">See more</a>                
            </div>                
        </div>
    </div>

    <div class="col-sm-9" data-ng-show="changePassword">
        <form class="form-horizontal" name="changeUserPassword" data-ng-submit="savePasswordChange()">
            <fieldset>
                <legend>Change your password</legend>
                <div class="form-group">
                    <label for="currentPassword" class="col-lg-4 control-label">Current Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" required="required"
                               data-ng-model="currentPassword">                                                                                          
                        <span class="error" ng-show="changeUserPassword.currentPassword.$error.required && !changeUserPassword.currentPassword.$pristine">Required!</span>                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordRegister" class="col-lg-4 control-label">New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="passwordRegister" name="passwordRegister" placeholder="Password" required="required"
                               data-ng-model="passwordRegister">                        
                        <span class="error" ng-show="changeUserPassword.passwordRegister.$error.required && !changeUserPassword.passwordRegister.$pristine">Required!</span>                        
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="passwordRegister2" class="col-lg-4 control-label">Confirm New Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="passwordRegister2" name="passwordRegister2" placeholder="Confirm Password" required="required"
                               data-ng-model="passwordRegister2">
                        <span class="error" ng-show="changeUserPassword.passwordRegister2.$error.required && !changeUserPassword.passwordRegister2.$pristine">Required!</span>                        
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">                       
                        <button type="submit" data-ng-disabled="changeUserPassword.$invalid" class="btn btn-primary">Submit</button>
                        <span class="error" data-ng-show="differentPasswordError">{{errorMessage}}</span>
                        <span class="text-success" data-ng-show="changeSucceeded">Your password has been changed successfully.</span>
                    </div>
                </div>
            </fieldset>
        </form>
        
        

    </div>
    <div class="col-sm-9" data-ng-show="editMydetails">
        
        <form class="form-horizontal" name="editMyDetailsForm" data-ng-submit="saveMyDetails()">
            <fieldset>
                <legend>Change your password</legend>
                <div class="form-group">
                    <label for="nickName" class="col-lg-4 control-label">Nick Name</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="nickName" name="nickName" placeholder="NickName"
                               data-ng-model="nickName">                                                                                                                                          
                    </div>
                </div> 
                <div class="form-group">
                    <label for="dob" class="col-lg-4 control-label">Date of Birth</label>
                    <div class="col-lg-8">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="dob" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close"  placeholder="Date of Birth"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>                                                                                                                                       
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="dob" class="col-lg-4 control-label">City</label>
                    <div class="col-lg-8">
                        <input type="text" ng-model="selectedCity" typeahead="city for city in cities | filter:$viewValue | limitTo:8" class="form-control">                                                                                                                                
                    </div>
                </div> 
                
                <div class="form-group">
                    <label for="aboutMe" class="col-lg-2 control-label">About me</label>
                    <div class="col-lg-10">
                        <textarea class="form-control" rows="3" id="aboutMe" data-ng-model="aboutMe"></textarea>
                        <span class="help-block">Write something about you.</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="col-lg-7 col-lg-offset-5">                       
                        <button type="submit" data-ng-disabled="editMyDetailsform.$invalid" class="btn btn-primary">Submit</button>
                        <span class="error" data-ng-show="editMyDetailsFormError">{{editMyDetailsFormErrorMessage}}</span>
                        <span class="text-success" data-ng-show="editMyDetailsFormSuccess">Your details have been updated successfully.</span>
                    </div>
                </div>
            </fieldset>
        </form>
        
        


    </div>
</div>

