<h3>{{user.userName}}</h3>
<div class="row">
    
    <div class="col-sm-3">
        
        <a href="javascript:void(0)" class="thumbnail">
            <img class="img-responsive" alt="defaultIcona" 
                 imageurl 
                 fallbackiconurl="/Content/images/defaultUserIcon.jpg"
                 userdata="{{user.profileImage}}"
                 sizedata
                 id="usericon"
                >
        </a>  
        
        <div class="row">
            <div class="col-sm-12">
                {{user.aboutMe}}                
            </div>
            <div class="col-sm-12">
                <h5>Nick Name: </h5>{{user.nickName}}
            </div>
                        
            <div class="col-sm-12">
                <h5>City: </h5>{{user.city}}
            </div>
           
        </div>
        
    </div>
    
    <div class="col-sm-9">                       
            <h5>{{user.userName}} is in the following {{user.groups.length}} groups.</h5>               
        <div class="panel panel-primary" data-ng-repeat="group in user.groups">
            <div class="panel-heading">
                <h3 class="panel-title">{{group.groupName}}</h3>
            </div>
            <div class="panel-body">
                <p>{{group.description}}</p>
                <p>Group created Date: {{group.createdDate | date:'d/M/yy'}}</p>                               
                <a class="btn btn-default btn-sm" href="#/groupDetails/{{group.id}}">See more</a>                
            </div>                
        </div>
        
    </div>
</div>

